@media (max-width: 1024px) {
  .nav-lists {
    position: absolute;
    top: 90px;
    width: 90%;
    border: 2px solid #000000;
    border-top: 0;
    border-radius: 0px 0px 8px 8px;
    padding: 60px 10px;
    display: none;
    background: #654ea3;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }

  .menu-label img {
    width: 30px;
    height: 30px;
  }

  #menu-toggle:checked ~ .nav-lists {
    display: flex;
  }

  .hero-info {
    width: 60%;
  }
  .hero-info h1 {
    font-size: 75px;
  }

  .hero-img {
    width: 40%;
  }

  .btns {
    justify-content: start;
    align-items: start;
    gap: 80px;
  }

  .page-info h3 {
    padding: 50px;
  }

  #benefits {
    padding: 70px;
  }

  .benefit-main h2 {
    text-align: center;
    padding-right: 20px;
  }

  .benefit-sub {
    width: 100%;
  }

  .benefits-container {
    width: 100%;
    flex-direction: column;
  }
}

/* -----------------*/

@media (max-width: 992px) {
  .nav-lists {
    width: 100%;
  }

  .hero-land {
    flex-direction: column;
  }

  .hero-info h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 80px;
  }

  .hero-info p {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero-img {
    display: none;
  }

  .btns {
    justify-content: end;
    align-items: end;
  }

  .page-info {
    width: 100%;
  }

  .benefits-text {
    flex-direction: column;
    text-align: center;
  }

  .benefit-sub {
    flex-direction: row;
  }
}

/* -----------------*/

@media (max-width: 768px) {
  .nav-lists {
    position: absolute;
    top: 90px;
    width: 90%;
    border: 2px solid #000000;
    border-top: 0;
    border-radius: 0px 0px 8px 8px;
    padding: 60px 10px;
    display: none;
    background: #654ea3;
  }

  .hero-info {
    width: 100%;
  }

  .hero-info h3 {
    font-size: 60px;
    text-align: center;
  }

  .btns {
    justify-content: center;
    align-items: center;
  }

  .page-info {
    width: 100%;
  }

  .page-info h3 {
    padding: 50px;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }

  .menu-label img {
    width: 30px;
    height: 30px;
  }

  #menu-toggle:checked ~ .nav-lists {
    display: flex;
  }

  .benefits-container {
    flex-direction: column;
  }

  .contact-container {
    flex-direction: column;
  }

  .benefit-sub {
    width: 100%;
  }

  .contact-socialmedia {
    gap: 10px;
  }

  .footer {
    padding: 30px;
    justify-content: space-between;
    align-items: center;
  }
}
/* -----------------*/

@media (max-width: 576px) {
  .nav-lists {
    font-size: 14px;
  }

  .logo {
    padding: 10px;
  }

  .hero-land {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
  }

  .hero-land h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 72px;
  }

  .hero-info p {
    font-size: 16px;
  }

  .btns {
    justify-content: space-between;
    align-items: center;
  }

  .page-info h3 {
    font-size: 16px;
    width: 100%;
  }

  .benefit-main h2 {
    font-size: 50px;
  }

  .benefit-sub {
    width: 100%;
    text-align: center;
  }

  .contact-container {
    width: 100%;
  }

  .contact-map {
    display: none;
  }

  .footer {
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
  }

  .logo-footer img {
    width: 130px;
    height: 40px;
  }
}
/* -----------------*/

@media (max-width: 425px) {
  .nav-container {
    justify-content: space-between;
  }
  .nav-lists {
    left: 5%;
  }

  .hero-land h1 {
    text-align: center;
    font-size: 48px;
  }

  .hero-info p {
    font-size: 14px;
    padding: 40px;
  }

  .btns {
    justify-content: space-evenly;
    align-items: center;
  }

  .btn-one {
    padding: 16px;
  }
  .btn-two {
    padding: 16px 30px;
  }

  .page-info h3 {
    font-size: 14px;

    padding: 20px;
  }

  .benefit-main h2 {
    font-size: 40px;
    text-align: center;
  }

  .benefit-sub p {
    width: 100%;
    font-size: 15px;
    text-align: center;
  }

  .benefit-info {
    font-size: 12px;
    text-align: center;
  }

  .contact-container {
    width: 100%;
  }

  .footer {
    padding: 20px;
    font-size: 9px;
  }

  .logo-footer img {
    width: 130px;
    height: 40px;
  }
}
