* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #00000f;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
}

.logo img {
  display: flex;
  width: 55%;

  padding-bottom: 12px;

  cursor: pointer;
}

.nav-lists {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: larger;
}

.list-1,
.list-2,
.list-3 {
  margin-left: 30px;
}

#hero {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);

  padding-top: 50px;
  padding-bottom: 120px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-land {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 26px;
}

.hero-info h1 {
  font-size: 90px;
  font-weight: 800;
  text-align: start;
  padding-right: 40px;
}

.hero-info p {
  padding: 40px 10px 50px;

  text-align: start;

  font-size: large;
}

.btns {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 40px;
}

.btn-one {
  background: rebeccapurple;
  padding: 22px 30px;
  border-radius: 16px;
  text-align: center;
  color: whitesmoke;
}

.btn-two {
  background: transparent;
  border: #00000f 1px solid;
  padding: 22px 56px;
  text-align: center;
  border-radius: 16px;
}

.hero-img {
  padding: 20px;
  background: -webkit-linear-gradient(to right, #312553, #654ea3);
  background: linear-gradient(to right, #4c3a7c, #654ea3);
  border-radius: 8px;
}

.hero-img img {
  border-radius: 5px;
  width: 100%;
}

#nosotros {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);

  padding: 160px;
}

.info-container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-info h3 {
  color: whitesmoke;
  text-align: center;
  width: 60%;
  background: -webkit-linear-gradient(to right, #312553, #654ea3);
  background: linear-gradient(to right, #4c3a7c, #654ea3);
  padding: 40px;
  border-radius: 12px;
}

@media (max-width: 812px) {
  .nav-lists {
    width: 100%;
  }

  .hero-land {
    flex-direction: column;
  }

  .hero-info h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .hero-info p {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .btns {
    justify-content: center;
    align-items: center;
  }

  .page-info {
    height: 40px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .nav-lists {
    padding: 0px 10px;
    font-size: medium;
  }

  .logo {
    padding: 10px;
  }

  #hero {
    padding-left: 80px;
    align-items: center;
    justify-content: center;
  }

  .hero-land {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-land h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 56px;
    padding-right: 82px;
  }

  .hero-info p {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    width: 90%;
    padding-right: 22px;
  }

  .btns {
    justify-content: start;
    align-items: center;
    padding-left: 16px;
  }

  .btn-one {
    padding: 16px;
  }
  .btn-two {
    padding: 16px 26px;
  }

  .hero-img {
    align-items: center;
    justify-content: center;
    position: relative;
    right: 34px;
  }

  #nosotros {
    padding: 22px;
  }

  .info-container {
    padding: 20px;
  }
}
