* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #00000f;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
}

.logo img {
  display: flex;
  width: 55%;

  padding-bottom: 12px;

  cursor: pointer;
}

.nav-lists {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: larger;
}

.list-1,
.list-2,
.list-3,
.list-4 {
  margin-left: 50px;
}

.menu-label,
.menu {
  display: none;
}

#hero {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);

  padding-top: 50px;
  padding-bottom: 120px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-land {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 26px;
}

.hero-info h1 {
  font-size: 90px;
  font-weight: 800;
  text-align: start;
  padding-right: 40px;
}

.hero-info p {
  padding: 40px 10px 50px;

  text-align: start;

  font-size: large;
}

.btns {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 40px;
}

.btn-one {
  background: rebeccapurple;
  padding: 22px 30px;
  border-radius: 16px;
  text-align: center;
  color: whitesmoke;
}

.btn-two {
  background: transparent;
  border: #00000f 1px solid;
  padding: 22px 56px;
  text-align: center;
  border-radius: 16px;
}

.hero-img {
  padding: 20px;
  background: -webkit-linear-gradient(to right, #312553, #654ea3);
  background: linear-gradient(to right, #4c3a7c, #654ea3);
  border-radius: 8px;
}

.hero-img img {
  border-radius: 5px;
  width: 100%;
}

#nosotros {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);

  padding: 120px;
}

.info-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.page-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-info h3 {
  color: whitesmoke;
  text-align: center;
  width: 60%;
  background: -webkit-linear-gradient(to right, #312553, #654ea3);
  background: linear-gradient(to right, #4c3a7c, #654ea3);
  padding: 40px;
  border-radius: 22px;
}

#benefits {
  background: #ffffff;

  padding: 120px;

  margin: 0 auto;
}

.benefits-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px;
}

.benefit-main {
  font-size: 55px;
  font-weight: 600;
  padding-left: 20px;
}

.benefit-sub {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  padding: 30px 60px;
  text-align: center;
  width: 40%;
}

.benefit-sub p {
  color: rgb(131, 130, 130);
}

.benefits-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.benefit-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefit-img img {
  width: 60px;
}

.benefit-1,
.benefit-2,
.benefit-3 {
  background: -webkit-linear-gradient(to right, #312553, #654ea3);
  background: linear-gradient(to right, #4c3a7c, #654ea3);
  padding: 20px;
  border-radius: 22px;
  box-shadow: 1px 2px 4px black;
}

.benefit-1 h3,
.benefit-2 h3,
.benefit-3 h3 {
  font-size: 38px;
  text-align: center;
  padding: 12px;

  color: rgb(255, 255, 255);
}

.benefit-info p {
  padding: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
}

#contact {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
  padding: 40px;
  margin: 0 auto;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.contact-title {
  font-size: 30px;
  padding: 20px;
}

.contact-address,
.contact-email,
.contact-number,
.contact-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 6px;
}

.contact-img img {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(230, 225, 225);
  padding: 5px;
  border-radius: 25px;
}

.contact-img-info {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contact-map {
  box-shadow: 1px 1px 2px black;
}

.hr {
  border-top: 1px solid white;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
  padding: 60px;
  margin: 0 auto;
}

.logo-footer img {
  width: 170px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

@keyframes slidein {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.btns {
  animation: slidein 2s ease-in-out;
}

.benefit-1,
.benefit-2,
.benefit-3 {
  animation: slidein 3s ease-in 2s;
}
